// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// UHD displays
$screen-xxl-min: 1600px;

// Extra large devices
@mixin xxl {
    @media (min-width: #{$screen-xxl-min}) {
        @content;
    }
}

.brandButton {
    min-width: 65px;
    color: #fff;
    background-color: #056086;
    &:hover {
        background-color: #0799b2;
    }
}

.brandText {
    color: #056086;
}

a {
    text-decoration: none;
    &:hover {
        color: #0799b2;
    }
}

.brandTextField {
    &:focus {
        outline: none !important;
        box-shadow: 0 0 10px #056086;
    }
}

.router-link-active {
    border-bottom: 5px solid #056086;
}

.hero {
    width: 100%;
    height: 70vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)), url("/images/planning.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.heroText {
    width: 20%;
    font-weight: 900;
    color: #fff;
    text-align: left;
    position: absolute;
    top: 25%;
    left: 7.5%;
    font-size: 2rem;
    span {
        color: #0799b2;
        text-shadow: 1px 1px 4px #000;
    }
    @include xxl {
        width: 80%;
        text-align: center;
        top: 7.5%;
    }
}

.input-symbol {
    position: relative;
}

.input-symbol input {
    padding-left:25px;
}

.input-symbol:after {
    position: absolute;
    top: 21px;
    left: 10px;
    content:"£";
    font-weight: bold;
}

.page-link {
    color: #056086;
}

.page-item.active .page-link {
    background-color: #056086;
    border-color: #056086;
}

li.VuePagination__pagination-item:first-child,
li.VuePagination__pagination-item:last-child {
    display: none;
}
