// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.brandButton {
    min-width: 65px;
    color: #fff;
    background-color: #056086;
    &:hover {
        background-color: #0799b2;
    }
}

.brandText {
    color: #056086;
}

a {
    text-decoration: none;
    &:hover {
        color: #0799b2;
    }
}

.brandTextField {
    &:focus {
        outline: none !important;
        box-shadow: 0 0 10px #056086;
    }
}
